* {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgba(85, 104, 146, 0.897);
}

.container {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: black 1px 1px 10px;
    border-radius: 3%;
    width: 30%;
    padding: 1% 2%;
    margin: 6% 30%;
}

.form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center; 
    margin: 2% 0%;
    padding: 6% 0%;
    gap: 1rem;
}

.form-input {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 95%;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 4% 1%;
    margin: 6% 1%; 
}
.form-input:focus, .input-msg:focus{
    background-color: rgba(123, 142, 184, 0.897);
}

.input-msg{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.795);
    width: 75%;
    height: 105px;
    font-size: 14px;
    padding: 2%;
    margin: 1% 1%;
    text-align: left;
}

.fila-msg{
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: span 2;
}

.fila-btn{
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.form-label {
    color: rgba(255, 255, 255, 0.795);
    text-align: left;
    text-shadow: black 1px 1px 2px;
}

.form-label-msg{
    color: rgba(255, 255, 255, 0.795);
    text-shadow: black 1px 1px 2px;
    text-align: center;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    padding: 3% 6%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.795);
    box-shadow: black 1px 1px 6px;
}

.btn:hover{
    background-color: rgba(123, 142, 184, 0.897);
}









